<html ng-app="Numerous">

<head>
  <title>Numerous search</title>
  <link rel=stylesheet type="text/css" href="css/main.css">
  <link href="jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="body">
  <form ng-show="!modifiedQuery" ng-submit="search()">
    <input ng-model="text" />
    <input type="submit" />
  </form>
  
  <p ng-if="modifiedQuery">Use the editor to query.</p>
  
  <div id="jsoneditor" style="width: 400px; height: 400px;"></div>
  <form ng-submit="setQuery();search()">
    <input type="submit" value="Query" />
  </form>
  
  <ul>
    <li ng-repeat="user in users">
      <h2 ng-bind="user._source.userName"></h3>
      <div ng-if="user.highlight.fullName.length">
        <hr>
        <div ng-repeat="hlfName in user.highlight.fullName">
          <span ng-bind-html="hlfName | trustElement"></span>
        </div>
        <div ng-repeat="hltName in user.highlight.twScreenName">
          <span ng-bind-html="hltName | trustElement"></span>
        </div>
      </div>
    </li>
  </ul>
  <script src="js/config.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
  <script src="jsoneditor/dist/jsoneditor.min.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/main.js"></script>
</body>
</html>