<html ng-app="Meliuz">

<head>
  <title>Meliuz search</title>
  <link rel=stylesheet type="text/css" href="css/main.css">
  <link href="jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="body">
  <form ng-show="!modifiedQuery" ng-submit="search()">
    <input ng-model="text" />
    <input type="submit" />
  </form>
  
  <p ng-if="modifiedQuery">Use the editor to query.</p>
  
  <div id="jsoneditor" style="width: 400px; height: 400px;"></div>
  <form ng-submit="setQuery();search()">
    <input type="submit" value="Query" />
  </form>
  
  <ul>
    <li ng-repeat="partner in partners">
      <h2 ng-bind="partner._source.titulo"></h3>
      <div ng-if="partner.highlight.text.length || partner.highlight['text.ngram'].length">
        Matches in "text"
        <hr>
        <div ng-repeat="hlT in partner.highlight['text.ngram'].concat(partner.highlight.text)">
          ...<span ng-bind-html="hlT | trustElement"></span>...
        </div>
      </div>
      <div ng-if="partner.highlight.description.length || partner.highlight['description.ngram'].length">
        <hr>
        Matches in "description"
        <hr>
        <div ng-repeat="hlD in partner.highlight['description.ngram'].concat(partner.highlight.description)">
          ...<span ng-bind-html="hlD | trustElement"></span>...
        </div>
        <hr>
      </div>
    </li>
  </ul>
  <script src="js/config.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
  <script src="jsoneditor/dist/jsoneditor.min.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/main.js"></script>
</body>
</html>